<div class="container">
<div class="row">

        <div class="col-md-6 p-4 m-4">
            <h4>User Details</h4>
            <div class="alert-success">{{success}}</div>
            <div class="alert-danger">{{error}}</div>

            <ng-container
            *ngIf="user!==undefined then usersFound; else noUserFound">
            
            </ng-container>
             
            <ng-template #usersFound>
                     <div class="card alert-success">
                        
                        <div class="card-body">
                                <label>Id</label>
                                <p>{{user.id}}</p>
                                <label>Name</label>
                                <p class="p-2">{{user.name}}</p>
                                <label>Surname</label>
                                <p class="p-2">{{user.surname}}</p>
                                <label>Email</label>
                                <p class="p-2">{{user.email}}</p>
                                <label>Phone</label>
                                <p class="p-2">{{user.phone}}</p>
                                <label>Date of Birth</label>
                                <p class="p-2">{{user.dob}}</p>
                                <label>Created Date</label>
                                <p class="p-2">{{user.dob}}</p>
                                <label>Updated Date</label>
                                <p class="p-2">{{user.dob}}</p>
                                <hr/>
                                <button class="btn btn-warning" (click)="delete()">Delete</button>
                                
                         </div>
                     </div>

            </ng-template>

            <ng-template #noUserFound>


            </ng-template>
        </div>
        <div class="col-md-6 p-4 m-4">
            <h4>User Details</h4>
            <div class="alert-success">{{success}}</div>
            <div class="alert-danger">{{error}}</div>

            <ng-container
            *ngIf="user!==undefined then usersFound; else noUserFound">
            
            </ng-container>
             
            <ng-template #usersFound>
                     <div class="card alert-success">
                        
                        <div class="card-body">
                                <label>Id</label>
                                <p>{{user.id}}</p>
                                <label>Name</label>
                                <p class="p-2">{{user.name}}</p>
                                <label>Surname</label>
                                <p class="p-2">{{user.surname}}</p>
                                <label>Email</label>
                                <p class="p-2">{{user.email}}</p>
                                <label>Phone</label>
                                <p class="p-2">{{user.phone}}</p>
                                <label>Date of Birth</label>
                                <p class="p-2">{{user.dob}}</p>
                                <label>Created Date</label>
                                <p class="p-2">{{user.dob}}</p>
                                <label>Updated Date</label>
                                <p class="p-2">{{user.dob}}</p>
                                <hr/>
                                <button class="btn btn-warning" (click)="delete()">Delete</button>
                                
                         </div>
                     </div>

            </ng-template>

            <ng-template #noUserFound>


            </ng-template>
        </div>
</div>
 
</div>

